*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter{ 
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

 /* Header Section. */
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 0;
}

.nav ul {
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav ul a{
    text-decoration: none;
    font-weight: 500;
    color: #000000;
}

.btn{
    color: #FFFFFF;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    padding: 12.5px 16px;
}

 /* Hero Section */
 #hero{
    background: url("assets/hero-bg.png");
    padding: 115px 120px 180px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

 .hero-container{
    display: flex;
    flex-direction: column;
    padding: 0 auto;
 }

 .hero-content{
    text-align: center;
 }

 .hero-content button{
    color: #469165;
    padding: 8px 12px;
    border: none;
    border-radius: 1000px;
    background-color: #FFFFFF;
    margin-bottom: 16px;
 }

 .green{
    color: #469165;
 }

 .hero-content h1{
    font-size: 70px;
    color: #FFFFFF;
 }

 .hero-content .second-h1{
    color: #30B868;
 }
 .hero-content p{
    margin-top: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 0 200px;
 }

 .hero-container .hero-btn{
    display: flex;
    justify-content: center;
    gap: 16px;
    padding-top: 32px;
 }

 .btn2{
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
 }



