*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter{ 
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

 /* Header Section. */
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 0;
}

.nav ul {
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav ul a{
    text-decoration: none;
    font-weight: 500;
    color: #000000;
}

.btn{
    color: #FFFFFF;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    padding: 12.5px 16px;
}